.avatarContainer,
.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarContainer {
  flex-direction: column;
}

.designation {
  color: gray;
  font-size: 14px;
}

.role {
  font-size: 12px;
  margin-right: 5px;
  background-color: #eee4fe;
  padding: 2px 4px;
  border-radius: 2px;
  text-transform: uppercase;
}
